API_ID=22565342
API_HASH=75e035926f72f2f4155a6f5f6e64be03
BOT_TOKEN=7201420162:AAFT9lM17GkAOyx4DSjWW-WU_tc51b4NAE0
MONGO_DB_URI=mongodb+srv://knight4563:knight4563@cluster0.a5br0se.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGGER_ID=--1002529294898
OWNER_ID=7926944005
STRING_SESSION=BQFYUd4At_-p_0ELmFUgNkonjFQWvwn2eEVuJRMbzULoDfrD4DqaPL_jFKARgOkyPcpWGQ-AK17kg2k-UzScGl36Fl12U7In2mlRkScuJT2rsulwfiIEQrLVC00vgADZexOoj3xwtMfUtBqM9PrgUf1EldBwoNzkfC7o5-gDJ37sSUE60y36XZSXivGdldMYefbY3TY8t2kg9m6Z6-qPPpjXgFPU94gKdjmfW8Klng-W6HBzGH7i1fPHi-xQZASJz_2Lu0sivwGnI5cY1hp6Fh8DWmVQOz7vSkjfE5NfppqpA9OR6l5Og8aoPtFAK8VfALUQxc6s_8oe7OOLUd3_mWpn17ulWgAAAAGJKA9qAA

