API_ID=28715018
API_HASH=1284dd4df7e90486ec76d57b5cdb8f5c
BOT_TOKEN=7762008642:AAGzyNKl7npZviatZ7dRngbYxNtaAkQGYKE
MONGO_DB_URI=mongodb+srv://knight4563:knight4563@cluster0.a5br0se.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGGER_ID=-1002540959252
OWNER_ID=7926944005
STRING_SESSION=BQG2KAoAtR1YaKo5Pb6bMPPzsq81JkORUrGc1dOoF32LzQOrIq4qpv31hMiAMzKATkQQ8j-XZwJzMMJsDigXZ-tsW8O7W5Cny6SOxrJ3OwLvOQG0hQIiyfA02hetn6Qh_IxPL5jwRVPyEzcSj61ac0bycCLVxNXi2bdM_FxXWUbpWEx6ncjJA Z4YCUWDKKf_icXebbyoQwJ_mwhFIbpAXGY7wZuMVlToYJsr7y6OyLNdamOp38tVXgzr3x3DyOHMisJVnVQUDBXnn3R nvfM32NwbRXbprCozJNtj-VubgKJlqHB-MIJ4sHE-GJ2_DyLfXD8q6PSg9nplGALGgeFDEZrd3EnHEQAAAAHjGAljAA